@import "./Variables";

.contacts {
  padding: 50px;
  margin: 20px 50px;
  color: $color_1;
  background: $color_2;
  border: 2px solid $color_6;
  width: 30%;
  min-height: 500px;
  font-size: 25px;
  .contactContainer {
    display: inline-flex;
    justify-content: center;
    a {
      transition: 0.2s ease-in-out;
      margin-left: 20px;
      &:hover {
        color: $color_6;
        border-bottom: 2px solid $color_6;
        padding-bottom: 10px;
        transform: translateY(-5px);
      }
    }
  }
}
