@import "./Variables";

.main {
  color: $color1;
  margin: 0 auto;
  width: 90%;
  .presentation {
    width: 600px;
    height: 80vh;
    padding: 40px;
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 30px;
    }
  }
  .io {
    position: absolute;
    width: 45%;
    top: 100px;
    right: 0;
    clip-path: polygon(
      66% 22%,
      58% 33%,
      78% 39%,
      90% 70%,
      61% 88%,
      20% 76%,
      10% 46%,
      31% 33%,
      27% 23%,
      43% 13%
    );
  }
}
