@import "./Variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $color_1;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: $color_1;
}

body {
  background: $color_2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
