@import "./Variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: $color1;
}

html,
body,
#root {
  height: 100%;
}
body {
  background: #0e0e0e;
}

@media screen and (max-width: 800px) {
  #root {
    margin-bottom: 120px;
  }
}
