@import "./Variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  .logo {
    transition: 1s;
    font-weight: bold;
    padding: 40px;
    font-size: 25px;
    background: linear-gradient($color1, $color1) top no-repeat, $color3;
    background-size: 100% 100%;
    display: inline-block;
    background-clip: text;
    color: transparent;
    &:hover {
      background-size: 100% 0%;
    }
  }
  ul {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 40px;
    margin-right: 100px;

    li {
      transition: 0.2s ease-in-out;
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      margin: 50px;
      padding-bottom: 10px;

      &:hover {
        color: $color3;
        border-bottom: 2px solid $color3;
        padding-bottom: 14px;
      }
    }
  }
}
