$color_1: #e5e5e5;
$color_2: #1b2128;
$color_3: #212931;
$color_4: #b877b4;
$color_5: #85ba86;
$color_6: #63aec0;
$color_7: #dd83a0;
$color_8: #e25987;

@font-face {font-family: Pacifico;src: url("../fonts/Pacifico-Regular.ttf");}
@font-face {font-family: Overpass;src: url("../fonts/Overpass-Regular.ttf");}
