@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Overpass;
  src: url("../fonts/Overpass-Regular.ttf");
}

@font-face {
  font-family: Iosevka;
  src: url("../fonts/Iosevka Nerd Font Complete.ttf");
}

.projects .projectsContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
}

.projects .projectsContainer .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 100px;
  border-bottom: 2px dashed #63aec0;
}

.projects .projectsContainer .project .sidebar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projectsContainer .project .sidebar .projectImg {
  width: 80%;
  border-radius: 10px;
  border: 2px solid #212931;
}

.projects .projectsContainer .project .content {
  width: 50%;
}

.projects .projectsContainer .project .content .title {
  font-family: Pacifico;
  font-size: 70px;
  color: #b877b4;
}

.projects .projectsContainer .project .content .description {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.projects .projectsContainer .project .content .versionControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projectsContainer .project .content .versionControl .version {
  background: #212931;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
}

.projects .projectsContainer .project .content .versionControl .version .versionNumber {
  color: #85ba86;
}

.projects .projectsContainer .project .content .versionControl .gitHub {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: Iosevka;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
}

.projects .projectsContainer .project .content .versionControl .gitHub:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects .projectsContainer .project .content .techsContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projectsContainer .project .content .techsContainer .tech {
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 100px;
  margin: 10px;
}

.projects .projectsContainer .project .content .techsContainer .html {
  background: #e44d26;
  color: #e5e5e5;
}

.projects .projectsContainer .project .content .techsContainer .sass {
  background: #c76494;
  color: #e5e5e5;
}

.projects .projectsContainer .project .content .techsContainer .react {
  background: #222222;
  color: #61dafb;
}

.projects .projectsContainer .project .content .techsContainer .electron {
  background: #272a37;
  color: #a0ebf9;
}

@media screen and (max-width: 1000px) {
  .projects .projectsContainer .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects .projectsContainer .project .content {
    width: 100% !important;
  }
  .projects .projectsContainer .project .content .title {
    font-size: 50px;
  }
  .projects .projectsContainer .project .sidebar {
    width: 100% !important;
    margin-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  .projects .projectsContainer .project .content .title {
    font-size: 40px;
  }
}
/*# sourceMappingURL=Projects.css.map */